<div class="container">
  <div class="content">
    <div class="heading">
      <p routerLink="/"><-- Job Openings</p>
      <h1>Business Development Manager (For Saudi Only)</h1>
      <p>
        Business Development. Various cities: Jazan, Mecca, Dammam, Yanbou, KSA
      </p>
    </div>
    <hr />
    <router-outlet></router-outlet>
  </div>
  <div>
    <div class="sidebar">
      <div class="sidebar-content">
        <button>
          <a id="apply" (click)="toggleDetails()">Apply for This Job</a>
        </button>

        <div class="input">
          <label for="">Link to this job</label>
          <input type="text" value={{url}} />
        </div>
        <div class="social">
          <share-buttons
          [theme]="'circles-dark'"
            [include]="['linkedin', 'twitter', 'facebook']"
            [showIcon]="true"
            [showText]="true"
            
            url={{url}}
            class="pt-5"
            sharerTarget="_blank"
          >
          </share-buttons>
        </div>
      </div>
    </div>
    <div class="sidebar-bottom">
      <div class="sidebar-bottom-text">
        <p class="sub-title">Location</p>
        <p>Various cities: Jazan, Mecca, Dammam, Yanbou, KSA</p>
      </div>
      <hr />
      <div class="sidebar-bottom-text">
        <p class="sub-title">Department</p>
        <p>Business</p>
      </div>
      <hr />
      <div class="sidebar-bottom-text">
        <p class="sub-title">Minimum-Experience</p>
        <p>Mid-level</p>
      </div>
      <hr />
    </div>
  </div>
</div>
