<div class="content" *ngIf="job">
  <p>
    {{ job["paragraphone"] }}
  </p>
  <p>
    {{ job["paragraphtwo"] }}
  </p>
  <h4>{{ job["role"] }}</h4>
  <ul>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
  </ul>
  <h4>Role qualifications</h4>
  <ul>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
  </ul>
  <h4>What we offer:</h4>
  <ul>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
    <li>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique,
      eligendi.
    </li>
  </ul>

  <p>Interested applicants can submit their CVs in <strong>English</strong></p>
  <p>All applications will be treated in strict confidence</p>
</div>
