.container {
  margin: 20px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social {
  display: flex;
  gap: 10px;
}
a {
  text-decoration: none;
  color: black;
}
@media (max-width:600px) {
.content{
    flex-direction: column;
}
.social{
    padding-top: 10px;
}
}