<div class="container">
  <div class="content">
    <div class="heading">
      <h1>Current Openings</h1>
      <p>
        Thanks for checking out our job openings. See something that interests
        you? Apply here.
      </p>
    </div>
    <hr />

    <div class="jobs">
      <p>Business Development</p>
      <div class="job-text">
        <a routerLink="/job-details" (click)="getId()">Business Development Manager ( For Saudi Only) </a>
        <div class="location">
          <img src="/assets/pin.svg" alt="" />
          <p>Various cities: Jazan, Mecca</p>
        </div>
        <div class="job-type">
          <img src="/assets/people.svg" alt="" />
          <p>
            Business Development <br />
            <span class="position">Full-Time</span>
          </p>
        </div>
      </div>
      <hr />
    </div>
    <div class="jobs">
      <p>Business Development</p>
      <div class="job-text">
        <a routerLink="/job-details">Business Development Manager ( For Saudi Only) </a>
        <div class="location">
          <img src="/assets/pin.svg" alt="" />
          <p>Various cities: Jazan, Mecca</p>
        </div>
        <div class="job-type">
          <img src="/assets/people.svg" alt="" />
          <p>
            Business Development <br />
            <span class="position">Full-Time</span>
          </p>
        </div>
      </div>
      <hr />
    </div>
    <div class="jobs">
      <p>Business Development</p>
      <div class="job-text">
        <a routerLink="/job-details">Business Development Manager ( For Saudi Only) </a>
        <div class="location">
          <img src="/assets/pin.svg" alt="" />
          <p>Various cities: Jazan, Mecca</p>
        </div>
        <div class="job-type">
          <img src="/assets/people.svg" alt="" />
          <p>
            Business Development <br />
            <span class="position">Full-Time</span>
          </p>
        </div>
      </div>
      <hr />
    </div>
    <div class="jobs">
      <p>Business Development</p>
      <div class="job-text">
        <a routerLink="/job-details">Business Development Manager ( For Saudi Only) </a>
        <div class="location">
          <img src="/assets/pin.svg" alt="" />
          <p>Various cities: Jazan, Mecca</p>
        </div>
        <div class="job-type">
          <img src="/assets/people.svg" alt="" />
          <p>
            Business Development <br />
            <span class="position">Full-Time</span>
          </p>
        </div>
      </div>
      <hr />
    </div>
    <div class="jobs">
      <p>Business Development</p>
      <div class="job-text">
        <a routerLink="/job-details">Business Development Manager ( For Saudi Only) </a>
        <div class="location">
          <img src="/assets/pin.svg" alt="" />
          <p>Various cities: Jazan, Mecca</p>
        </div>
        <div class="job-type">
          <img src="/assets/people.svg" alt="" />
          <p>
            Business Development <br />
            <span class="position">Full-Time</span>
          </p>
        </div>
      </div>
      <hr />
    </div>
    <div class="jobs">
      <p>Business Development</p>
      <div class="job-text">
        <a routerLink="/job-details">Business Development Manager ( For Saudi Only) </a>
        <div class="location">
          <img src="/assets/pin.svg" alt="" />
          <p>Various cities: Jazan, Mecca</p>
        </div>
        <div class="job-type">
          <img src="/assets/people.svg" alt="" />
          <p>
            Business Development <br />
            <span class="position">Full-Time</span>
          </p>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
