<div class="container">
  <div class="content">
    <div class="heading">
      <h1>Current Openings</h1>
      <p>
        Thanks for checking out our job openings. See something that interests
        you? Apply here.
      </p>
    </div>
    <hr />
    <div class="jobs" *ngFor="let job of jobs">
      <p>{{ job.tag }}</p>
      <div class="job-text">
        <a (click)="getId(job.id)">{{ job.title }} </a>
        <div class="location">
          <img src="/assets/pin.svg" alt="" />
          <p>Various cities: Jazan, Mecca</p>
        </div>
        <div class="job-type">
          <img src="/assets/people.svg" alt="" />
          <p>
            Business Development <br />
            <span class="position">Full-Time</span>
          </p>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
